<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titel</title>
  </head>
  <body>
    <form action="HIER MUSS EINE DATEI EINGETRAGEN WERDEN">
    <label for="submission">Input to detect language:</label><br>
    <input type="text" id="submission" name="submission"><br><br>
    <input type="submit" value="Submit">
    </form>

    <p>Click the "Submit" button and the form-data will be sent to a page on the 
    server called "action_page.php".</p>

</body>
</html>
  </body>
</html>
