{% extends "base.html" %}

{% block body_content %}
<div class="container">
    <form id="input_form" action="/detect" method="post">
        <label for="submission">Input to detect language:</label><br>
        <input id="input_field" type="text" name="submission"><br><br>
        <input type="submit" value="Submit">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </form>
</div>
{% if results %}
    <h2>Detection Results</h2>
    <ul>
        {% for item in results %}
            <li><strong>{{ item.word }}</strong>: {{ item.language }} ({{ item.confidence }})</li>
        {% endfor %}
    </ul>
{% endif %}

{% if colored_text %}
    <h2>Detected Text (farbig):</h2>
    <div class="container">
        <p>{{ colored_text|safe }}</p>
    </div>
{% endif %}

{% endblock %}


